.body{
  overflow:hidden;
  box-sizing: border-box;
  .top-bar{
    position: relative;
    height: 30px;
    line-height: 30px;
    background-color: #38aef0;
    color: white;
    text-align: center;
  }
  .chat-side{
    width: 300px;
    float: left;
    color: white;
    height: 100%;
    a:visited { color:white; text-decoration:none };
    
    .side-header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      .side-header-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        .side-header-user-name{
          font-size: 16px;
        }
        .side-header-box-menu{
          display: flex;
          &__new-group{
            &__edit-icon{
              display: block;
              a:visited { color:white; text-decoration:none };
            }
            &__cog-icon{
              display: block;
              a:visited { color:white; text-decoration:none };
            }
          }
        }
      }
    }
    .groups{
      background-color: #2f3e51;
      padding: 20px 20px 0;
      height: calc(100vh - 120px);
      overflow: scroll;
      .group{
        a{
        text-decoration	:none;
        }
        &__name{
          font-size: 15px;
          //font-weight: bold;
          margin-bottom: 5px;
          
        }
        &__message{
          font-size: 11px;
          //font-weight: bold;
          margin-bottom: 40px;
        }
      }
    }
  }
  .chat-main{
    width: calc(100vw - 300px);
    float:left;
    height: 100px;
    .main-header{
      border-bottom:solid 1px #eeeeee;
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      overflow: scroll;  
      .main-header-left-box{
        &__current-group{
          font-size: 20px;
          color: #333333;
          margin-top:35px;
        }
        &__member-list{
          font-size: 12px;
          color:#999999;
          margin:15px 0 0;
        }
      }
      &__edit-btn{
        margin-top:28px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        color: #38aef0;
        cursor: pointer;
        a:visited { color :#38aef0; text-decoration:none };
        a{
        text-decoration	:none;
        }
      }
    }
    .messages{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 46px 40px;
      overflow: scroll;
      .message{
        padding-bottom: 40px;
        .message-upper-info{
          display: flex;
          margin-bottom: 10px;
          &__talker{
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
          }
          &__date{
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }
        .message-lower{
          &__text{
            font-size: 14px;
            color: #434a54;
            margin-bottom: 10px;
          }
          &__image{
          }
        }
      }
    }
    .form{
      padding: 20px 40px;
      background-color: #ddd;
      position: relative;
      bottom:90px;
      .new_message{
        display: flex;
        .input-box{
          position: relative;
          width: 100%;
          .text{
            height: 50px;
            width: calc(100% - 10px);
            padding-left: 10px;
            color: #434a54;
            border-style: none;
          }
          .image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;  
            &__file{
                display: none;
            }
            &__image-icon {
                font-family: FontAwesome;
            }
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
